$item-size:1.875em;

$primary-font: "Arrus BT";
.menu1{
    background: #00290d;
    opacity: 0.6;
}
//probably gonna change this

a{
    color: white;
    font-size: $item-size;
    font-family: $primary-font;
    &:hover{
        color: gray;
        font-family: $item-size+1em;
    }
}