@import "../../styles.scss";
.back{
    padding-top:20px; 
    padding-bottom:10px; 
    width: 100%;
    height:600px ;
    background-color: $primary-color;
}
.one{
    width: 60%;
    max-height:100% ;
    padding-left:30px;
    color: white;
}
.two{
    width: 40%;
    max-height:100%;
    #perfil{
            max-height: 75%;
            max-width: 100%;
        }
    // a{
    //     margin-left:20px; 
    //     margin-right:20px; 
    // }
    i{
        font-size: 70px;
    }
    .three{
      margin-top: 20px;  
    }
}
#next{
    width: 500px;
}