<div class="container" fxLayout="column" fxLayoutGap="20px">
    <!-- Not good enought -->
    <div fxFlex>
        <div>
            <h2>
                Skills so far
            </h2>
            <hr>
        </div>
        <div fxLayoutAlign="center">
                <h3 >Basic level</h3>
        </div>
    </div>
    <div fxFlex>
        <div fxLayout fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="10px">
            <mat-card *ngFor='let skill of skills' class="card-skill">
                <mat-card-header>
                    <mat-card-title>{{skill.name}} </mat-card-title>
                </mat-card-header>
                <img height="200px" src="{{skill.image}}" alt="">
                <mat-card-content>
                    <h4>{{skill.experience}}</h4>
                    <mat-chip-list>
                        <mat-chip color="primary">{{skill.level}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>