$primary-font: "Arrus BT";
.footer1{
    height: 200px;
    width: 100%;
    background-color: 	#e1c88c;
    padding-top: 20px;
    h2{
        font-family: $primary-font; 
        text-align: center;
    }
}