<div class="Transblock" fxLayoutAlign="center">
  <mat-card class="starting-card">
      <mat-card-header>
        <mat-card-title>
          <h1>Welcome To My Website</h1>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Welcome Mr/Ms Recruiter: thank you for looking at my profile.
           This website lists all my current skills and projects 
           (completed and in progress)</p>
      </mat-card-content>
      <mat-card-actions align="center">
          <a  mat-raised-button color="primary" routerLink="/about">Lets Start with me</a>
      </mat-card-actions>
  </mat-card>
</div>
