<div class="Transblock" fxLayoutAlign="center">
  <mat-card class="starting-card">
      <mat-card-header>
        <mat-card-title>Welcome To My Website</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Welcome Mr/Ms Recruiter: thank you for looking at my profile.
           This website lists all my current skills and projects 
           (completed and in progress)</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button>Lets Start with me</button>
      </mat-card-actions>
  </mat-card>
</div>
